body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Merriweather Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.afterclass{
  content: '';
  position: absolute;
  left: 50%;
  width: 2%;
  height: 3px;
  background-color: black;
  transform: translateX(-50%);
}
:root{
  --bg-color:#6c757d
}
a{
  text-decoration: none;
  color: inherit;
}

h3, h4{
  font-family: "Esteban", serif;
  font-weight: 400;
  font-style: normal;
  
}
h4{
  color: gold;
}
section > .container-fluid{
  padding: 8% 3%;
}
.navbar-brand{
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

nav .container-fluid{
  padding: 1% 3%;
}

.whatsappIcon{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.whatsappIcon img{
  width: 80px;
  height: 80px;
}
.backdrop{
  backdrop-filter: brightness(65%) contrast(110%);
  width: 100%;
  height: 100%;
}

/* header section header section */
#headerSection{
  background-image: url('./assets/mineralbackground.jpg');
  height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.backImg{
  background-image: url('./assets/crystalimg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}
.mis-grid{
  min-height: 450px;
}
#mission-section .article{
  background: var(--bg-color);
  min-height: 100%;
  color: white;
  padding: 5% 9%;
}


.product-mica, .product-rufite, .product-limonite, .product-titanium {
  
  background-size: cover;
  background-position: center center;
  height: 400px;
  display: flex;
  align-items: center;
  /* margin: 5px 0; */
  margin-bottom: 10px;
  
  
}

.product-mica{
  background-image:url('./assets/mica-mineral.jpg') ;
}
.product-limonite{
  background-image:url('./assets/limonite-black.jpg') ;
  
}
.product-rufite{
  background-image:url('./assets/rufiles-mineral.jpg') ;
}
.product-titanium{
  background-image: url('./assets/titanium-mineral.jpg');
}

@media (max-width:750px) {
  .product-mica, .product-rufite, .product-limonite,.product-titanium {
    height: 200px;
  }
}


#footer-section{
  background: var(--bg-color);
  color: white;
}

.sectionAnimationLeft{
  scroll-behavior: smooth;
  animation: backInLeft;
  animation-duration: 1.5s;
}
.sectionAnimationDown{
  scroll-behavior: smooth;
  animation:fadeInDownBig;
  animation-duration: 1.2s;
}

.sectionAnimationUp{
  scroll-behavior: smooth;
  animation:fadeInUpBig;
  animation-duration: 1.2s;

}
.sectionAnimationRight{
  scroll-behavior: smooth;
  animation: backInRight;
  animation-duration: 1.2s;
}
video{
  max-width: 100%;
  height: 350px;
  margin: 3% 0;
}
